:root {
	--contactBGColor: blue;
}

.sticky_global_any_contact_box_js {
	display: block;

	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;

	padding: 5px;

    text-align: center;
	text-decoration: none;
	font-weight: bold;

	background: var(--contactBGColor);
}

.sticky_bar_heading_js {
	display: block;

	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;

	margin-top: 10px !important;
	margin-bottom: 10px !important;

	line-height: initial;

    text-align: center;
	text-decoration: none;
	font-size: initial;
	font-weight: bold;

	background: var(--contactBGColor);
	color: #fff;
}

.voip_wrapper_js {
	padding-top: 5px;
	padding-bottom: 5px;
}
