:root {
	--contactBGColor: blue;
}

.sticky_global_any_contact_box {
	display: block;

	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;

	padding: 5px;

    text-align: center;
	text-decoration: none;
	font-weight: bold;

	background: var(--contactBGColor);
}

.sticky_bar_heading {
	display: block;

	position: sticky;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;

	margin-top: 10px !important;
	margin-bottom: 10px !important;

	line-height: initial;

    text-align: center;
	text-decoration: none;
	font-size: initial;
	font-weight: bold;

	background: var(--contactBGColor);
	color: #fff;
}

.always_flex {
	border-top: 1px solid #fff;
	display: flex;
	justify-content: space-around;
}

.voip_wrapper {
	padding-top: 5px;
	padding-bottom: 5px;
}

.voip_icon {
	display: inline;
	vertical-align: middle;

	width: var(--minoris);
	height: var(--minoris);
	max-width: var(--minoris);
	max-height: var(--minoris);

	margin-right: 5px;
}

.voip_text {
	display: inline;
	vertical-align: middle;
}

.voip_link {
	display: inline-block;
	transition: none !important;
	box-shadow: none !important;
	text-decoration: none !important;
	color: #fff;
}

@media screen and (min-width: 999px) {
	.voip_link:hover {
		color: var(--actionColor);
	}
}
