.sticky_global_any_contact_box {
  background: whitesmoke
}

.sticky_bar_heading {
  text-align: center;
}

.always_flex {
  border-top: 1px solid #fff;
	display: flex;
	justify-content: space-around;
}

.voip_link_structure {
  max-width: 100px;
}

.voip_icon {
  width: 50px;
}

.voip_text {
  text-align: center;
}
