.jcb_button {
    display: block;
    position: fixed;
    bottom: 22.5px;
    left: 0;
    z-index: 9999;
    width: auto;
    height: 60px;
    text-align: center;
    text-decoration: none;
    font-size: 120%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0px rgb(0 0 0 / 18%);
}
.jcb_phone_link {
    color: white !important;
    text-decoration: none !important;
}
.jcb_phone_icon {
    width: 60px;
    height: 60px;
    max-width: unset;
}

@media screen and (max-width: 999px) {
    .jcb_button {
        left: 50px; /* Fix Drupal Olivero outside_viewport escape. */
    }
}
