.sticky_global_any_contact_box_js {
  background: whitesmoke
}

.sticky_bar_heading_js {
  text-align: center;
}

.always_flex_js {
  border-top: 1px solid #fff;
	display: flex;
	justify-content: space-around;
}

.voip_link_structure_js {
  max-width: 100px;
}

.voip_icon_js {
  width: 50px;
}

.voip_text_js {
  text-align: center;
}
